<div class="modal-header">
	<h3 class="modal-title" id="modal-title">
		View
	</h3>
</div>
<div class="modal-body" id="modal-body">
<dl class="dl-horizontal">
		<dt>Employee Name</dt>
		<dd>{{vm.items.name}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Employee Code</dt>
		<dd>{{vm.items.employee_code}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Gender</dt>
		<dd>{{vm.items.gender}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>E-mail</dt>
		<dd>{{vm.items.email}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Mobile No.</dt>
		<dd>{{vm.items.mobile_no}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Address</dt>
		<dd>{{vm.items.address}}, {{vm.items.area_name}}, {{vm.items.city_name}}, {{vm.items.state_name}}, {{vm.items.country_name}}</dd>
	</dl>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Close</button>
</div>