<div class="modal-header">
	<h3 class="modal-title" id="modal-title">VIEW</h3>
</div>
<div class="modal-body" id="modal-body">
	<dl class="dl-horizontal">
		<dt>SUPPLIER CODE</dt>
		<dd>{{vm.items.supplier_code}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>SUPPLIER NAME</dt>
		<dd>{{vm.items.supplier_name}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>SUPPLIER TYPE</dt>
		<dd>{{vm.items.supplier_type}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>CONTACT PERSON</dt>
		<dd>{{vm.items.supplier_contactperson}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>EMAIL</dt>
		<dd>{{vm.items.supplier_email}}</dd>
		<dd>{{vm.items.supplier_email2}}</dd>
		<dd>{{vm.items.supplier_email3}}</dd>
		<dd>{{vm.items.supplier_email4}}</dd>
		<dd>{{vm.items.supplier_email5}}</dd>
		<dd>{{vm.items.supplier_email6}}</dd>
		<dd>{{vm.items.supplier_email7}}</dd>
		<dd>{{vm.items.supplier_email8}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>MOBILE NO</dt>
		<dd>{{vm.items.supplier_mobile}}</dd>
		<dd>{{vm.items.supplier_mobile2}}</dd>
		<dd>{{vm.items.supplier_mobile3}}</dd>
		<dd>{{vm.items.supplier_mobile4}}</dd>
		<dd>{{vm.items.supplier_mobile5}}</dd>
		<dd>{{vm.items.supplier_mobile6}}</dd>
		<dd>{{vm.items.supplier_mobile7}}</dd>
		<dd>{{vm.items.supplier_mobile8}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>ADDRESS</dt>
		<dd>{{vm.items.supplier_address}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>REGION</dt>
		<dd>{{vm.items.supplier_region}}</dd>
	</dl>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" type="button" ng-click="vm.cancel()">
		<i class="fa fa-times" aria-hidden="true"></i>Close
	</button>
</div>