<head>
<script type="text/javascript" src="js/jspdf.debug.js"></script>
<script type="text/javascript" src="js/jquery.table2excel.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="script.js"></script>
</head>

<div class="container-fluid">
	<div class="row page-title-div">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<h2 class="title">CHANGE PASSWORD</h2>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/jspdf.debug.js"></script>
<div class="container-widget">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-title">
					<form name="regLoc">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<input type="hidden" class="form-control"
											ng-model="user.user_id"> <label for="name13">USER
											NAME</label> <input type="text" class="form-control"
											ng-model="user.fname" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputEmail13">USER CODE</label> <input
											type="text" class="form-control" ng-model="user.mobile_no"
											disabled>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputEmail13">CURRENT PASSWORD</label> <input
											type="password" class="form-control" ng-model="cpassword"
											disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputEmail13">CHANGE PASSWORD *</label> 
										<input type="text" class="form-control" ng-model="user.password" placeholder="PASSWORD"  maxlength="12" required>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<input type="hidden" ng-model="user.email"> 
								<input type="hidden" ng-model="user.user_code"> 
								<input type="hidden" ng-model="user.role.role_id">
								<input type="hidden" ng-model="user.added_by">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="success"
						ng-disabled="regLoc.$invalid" ng-click="vm.ok(user); vm.doLogout()">
						<i class="fa fa-floppy-o" aria-hidden="true"></i>SUBMIT
					</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"
							ng-click="refresh()">
							<i class="fa fa-times" aria-hidden="true"></i>CANCEL
					</button>
				</div>
			</div>
		</div>
	</div>
</div>